# supporting infrastructure
firefly_python/
firefly_pypy/
pypy-5.3.1-linux_x86_64-portable/
reference/hg19_adapter

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyx

# C extensions
*.so

# vscode files
.vscode
*.code-workspace

*.swp
.idea/

# Distribution / packaging
.Python
env/
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.pytest_cache/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# emacs
*~

# nfs
.nfs*